<h3 class="text-center sub-header-title">View Employee</h3>
<hr>
<div class="cold-md-7 mB10">
<input type="text" id="empFilter" class="form-control search-input" placeholder="Search Employee Name" [(ngModel)]="employee_name">
</div>
<table class="table table-hover">
  <tr>
    <th scope="col">No</th>
    <th scope="col">Name</th>
    <th scope="col">Salary</th>
    <th scope="col">Age</th>
  </tr>
  <tr class="col-lg-1 col-md-7" *ngFor="let emp of list | EmployeeNameFilter :employee_name">
    <td scope="row">{{emp.id}}</td>
    <td scope="row">{{emp.employee_name}}</td>
    <td scope="row">{{emp.employee_salary}}</td>
    <td scope="row">{{emp.employee_age}}</td>
  </tr>
</table>