<h3 class="text-center sub-header-title">View Employee</h3>
<hr>
<div class="cold-md-7 mB10">
<input type="text" id="empFilter" class="form-control search-input" placeholder="Search Employee Name" [(ngModel)]="employee_name">
</div>
<table class="table table-hover">
  <tr>
    <th class="col-lg-1 col-md-1">#</th>
    <th class="col-lg-1 col-md-2">Name</th>
    <th class="col-lg-2 col-md-2">Salary</th>
    <th class="col-lg-1 col-md-1">Age</th>
    <th class="col-lg-1 col-md-1"></th>
  </tr>
  <tr *ngFor="let emp of list | EmployeeNameFilter :employee_name">
    <td>{{emp.id}}</td>
    <td>{{emp.employee_name}}</td>
    <td>{{emp.employee_salary}}</td>
    <td>{{emp.employee_age}}</td>
    <td><button class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>